.Animator{
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Animator .inputs{
  display: grid;
}
.Animator button{
  background-color: var(--btn-color);
  border-color: var(--btn-border-color);
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  font-family: 'Ubuntu',sans-serif;
  font-weight: 700;
  color: var(--btn-text-color);
  text-align: center;
}
.Animator button:hover {
  background-color: var(--btn-hover-color);
  color: var(--btn-hover-text-color);
  border: 1px solid var(--btn-hover-border-color);
}
.Animator button:focus {
  outline-offset: 0.1em;
  outline-color: var(--btn-focus-border-color);
}
.Animator button:active{
  background-color: var(--btn-sel-color);
  color: var(--btn-sel-text-color);
  border: 1px solid var(--btn-sel-border-color);
}
.Animator #solveBtn{
  padding: 4px 10px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  grid-column: 1;
  grid-row: 1 / 3;
  font-size: 18px;
}
.Animator .play{
  background-color: var(--btn-sel-color);
  color: var(--btn-sel-text-color);
  border: 1px solid var(--btn-sel-border-color);
}
.Animator #stepBtn{
  margin-left: 0.5rem;
  border-right: 0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px;
  grid-column: 2;
  grid-row: 1 / 3;
  font-size: 13px;
  font-weight: 700;
}
.Animator #restartBtn{
  margin-right: 1rem;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px;
  grid-column: 3;
  grid-row: 1 / 3;
  font-size: 13px;
  font-weight: 700;
}

.Animator .inputs label{
  font-family: 'Ubuntu',sans-serif;
  margin-right: 0.3rem;
  font-size: 12px;
  text-align: right;
}
.Animator .inputs input{
  height: 2px;
  width: 5rem;
  accent-color: rgb(71, 114, 255);
  place-self: center;
}
.Animator .inputs #scaleL{
  grid-column: 4;
  grid-row: 1;
  place-content: center;
}
.Animator .inputs #speedL{
  grid-column: 4;
  grid-row: 2;
}
.Animator .inputs #scale{
  grid-column: 5;
  grid-row: 1;
}
.Animator .inputs #speed{
  grid-column: 5;
  grid-row: 2;
}

.Animator .solutionContainer{
  display: flex;
  margin: 1.5rem 0rem 0.5rem 0rem;
  font-size: 14px;
  font-weight: 500;
}
.Animator #solution{
  margin-left: 0.25rem;
  padding-left: 0.25rem;
  border-width: 2px;
  border-style: solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #ffffff, #000000);
  min-width: 5rem;
}


canvas {
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
}