.VisualizerApp{
  display: flex;

  --btn-color: white;
  --btn-text-color: #2f78ec;
  --btn-border-color: #2f78ec;
  --btn-hover-color: #2264cebf;
  --btn-hover-text-color: white;
  --btn-hover-border-color: #275fb9;
  --btn-sel-color: #175cca;
  --btn-sel-text-color: white;
  --btn-sel-border-color: #2264ce;
  --btn-focus-border-color: #234b8d;

  --board-background-color: black;
  --square-background-color: white;
  --square-focus-color: rgb(218, 165, 32);
  --square-solution-color: rgb(134, 248, 153);

  --nodecol: rgba(11, 127, 171, 1.0);
}
.UXBlock{
  display: flex;
  flex-direction: column;
  align-items:center;
  margin: 1.15rem;
  min-width: 18rem;
}
.UXBlock .btns{
  display: grid;
}
.UXBlock #mat{
  grid-column: 1;
  grid-row: 2;
}
.UXBlock #fxf{
  grid-column: 2;
  grid-row: 2;
}
.UXBlock #nxn{
  grid-column: 3;
  grid-row: 2;
}
.UXBlock #sudcontainer{
  display: flex;
  justify-content: center;
  grid-column: 2 / 4;
  grid-row: 1;
  justify-self: center;
  margin-bottom: 0.1rem;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  border-width: 2px;
  border-style: solid;
  border-bottom: 0px;
  border-color: var(--btn-sel-border-color);
  width: 100px;
}
.UXBlock #sudtitle{
  margin-top: -16px;
  padding: 3px 3px;
  font-size: 16px;
  color: var(--btn-sel-border-color);
  background-color: rgb(220, 220, 220);
}
.UXBlock button{
  margin: 0 0.15rem 0 0.15rem;
  padding: 4px 10px;
  background-color: var(--btn-color);
  border: 1px solid var(--btn-border-color);
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  border-radius: 4px;
  font-size: 18px;
  font-family: inherit;
  font-weight: 700;
  color: var(--btn-text-color);
  text-align: center;
  user-select: none;
}
.UXBlock .selected{
  background-color: var(--btn-sel-color);
  color: var(--btn-sel-text-color);
  border: 1px solid var(--btn-sel-border-color);
}
.UXBlock button:hover{
  cursor: pointer;
}
.UXBlock button:focus {
  outline-offset: 0.1em;
  outline-color: var(--btn-focus-border-color);
}
.UXBlock button:active{
  background-color: goldenrod;
  color: var(--btn-sel-text-color);
  border: 1px solid var(--btn-sel-border-color);
}

.UXBlock #help{
  margin-top: 0.5rem;
  padding: 0.5rem;
  font-size: 12px;
  font-weight: 500;
  background-color: rgb(248, 248, 248);
  width: 15rem;
  align-self: center;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
}