.VisualizerApp{
  display: flex;

  --btn-color: white;
  --btn-text-color: #2f78ec;
  --btn-border-color: #2f78ec;
  --btn-hover-color: #2264cebf;
  --btn-hover-text-color: white;
  --btn-hover-border-color: #275fb9;
  --btn-sel-color: #175cca;
  --btn-sel-text-color: white;
  --btn-sel-border-color: #2264ce;
  --btn-focus-border-color: #234b8d;

  --board-background-color: black;
  --square-background-color: whitesmoke;
  --square-focus-color: goldenrod;
  --square-solution-color: lawngreen;
}
.UXBlock{
  display: flex;
  flex-direction: column;
  align-items:center;
  margin: 1em;
  min-width: 18em;
}
.UXBlock button{
  margin: 0.15em;
  padding: 3px 8px;
  background-color: var(--btn-color);
  border: 1px solid var(--btn-border-color);
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  border-radius: 4px;
  font-family: 'Ubuntu',sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: var(--btn-text-color);
  text-align: center;
}
.UXBlock .selected{
  background-color: var(--btn-sel-color);
  color: var(--btn-sel-text-color);
  border: 1px solid var(--btn-sel-border-color);
}
.UXBlock button:hover {
  background-color: var(--btn-hover-color);
  color: var(--btn-hover-text-color);
  border: 1px solid var(--btn-hover-border-color);
}
.UXBlock button:focus {
  outline-offset: 0.1em;
  outline-color: var(--btn-focus-border-color);
}