.CustomMatrix {
    display: grid;
    margin: 1rem;
    padding: 0.5px 0.5px 0.5px 0.5px;
    width: fit-content;
    background-color: black;
}

.MatrixIndex {
    all: unset;
    user-select: none;
    margin: 0.5px;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    background-color: whitesmoke;
}

.MatrixIndex:focus {
    background-color:goldenrod;
}