.PuzzleBoard {
  display: grid;
  margin: 1rem;
  padding: 2px 1px 1px 2px;
  width: fit-content;
  background-color: var(--board-background-color);
}

.PuzzleSquare {
  all: unset;
  user-select: none;
  margin: 1px;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.6rem;
  text-align: center;
  background-color: var(--square-background-color);
  font-family: 'Ubuntu',sans-serif;
}

.PuzzleSquare:focus {
  background-color: var(--square-focus-color);
}

.CustomMatrix {
  display: grid;
  margin: 1rem;
  padding: 0px 1px 1px 0px;
  width: fit-content;
  background-color: var(--board-background-color);
}

.MatrixIndex {
  all: unset;
  user-select: none;
  margin: 1px;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.6rem;
  text-align: center;
  background-color: var(--square-background-color);
  font-family: 'Ubuntu',sans-serif;
}

.MatrixIndex:focus {
  background-color:var(--square-focus-color);
}

.Solution {
  background-color: var(--square-solution-color);
}