.PuzzleBoard {
  display: grid;
  margin: 1rem;
  padding: 2px 1px 1px 2px;
  width: fit-content;
  background-color: black;
}

.PuzzleSquare {
  all: unset;
  user-select: none;
  margin: 1px;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.6rem;
  text-align: center;
  background-color: whitesmoke;
  font-family: 'Ubuntu',sans-serif;
}

.PuzzleSquare:focus {
  background-color:rgb(137, 174, 235);
}

.CustomMatrix {
  display: grid;
  margin: 1rem;
  padding: 0px 1px 1px 0px;
  width: fit-content;
  background-color: black;
}

.MatrixIndex {
  all: unset;
  user-select: none;
  margin: 1px;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.6rem;
  text-align: center;
  background-color: rgb(245, 245, 245);
  font-family: 'Ubuntu',sans-serif;
}

.MatrixIndex:focus {
  background-color:rgb(137, 174, 235)
}

.Solution {
  background-color:lawngreen;
}